
---

# Configuration file for CURE implementation
#
# The default section is ALWAYS used as the configuration.
# Other sections override key/value pairs in the default 
# section depending on the config value used.
# NOTE: Naming style for variables is camelCase.
#
# Sections are named based on the datafiles they corespond to
#
# ALSO NOTE yaml files are VERY sensitive to syntax errors: make sure
# that spaces, justification and formatting is consistent. E.g. 
# a space after the colon is mandatory,  last line must be empty
# whitout even a trailing space bar etc
#

default:
 csvSeparator: ","
 # Which columns of the data to use 
 # for clustering. Can be of arbitrary size
 targetColumns:
  - "F1"
  - "F2"
 randomDataSampleSize: 74

 # Number of lines the file to be clustered consists of. 
 # The random randomDataSampleSize lines will be chosen out of
 # this number of lines. randomDataSampleSize must be smaller than 
 # maxFileLines if poth are positive.
 # A negative number indicates that the true number of lines 
 # in the file will be used. For large files, this might be
 # very slow. Hence this parameter where a maximum can be set.
 maxFileLines: -1L
 agglomerativeHierarchicalClusteringMethod: "complete"
 chunkSize: 130
 nClusters: 7
 nRepresentatives: 16
 # How much closer to cluster centers to move representative 
 # points (percentage)
 alpha: 0.2
 clusterMergeDistance: 11.09
 # TODO: Next is not used. Still not decided if it
 # should be so i.e. how to specify the column with the 
 # correct/true clustering 
 trueClustersColumn: "cluster"
 internalClusterMetrics:
  - Silhouette
  - Dunn
  - Calinski_Harabasz
  - McClain_Rao
 externalClusterMetrics:
 # Debugging
 debugMessages: FALSE 
 # Output to file related  
 appendDateTime: TRUE
 saveOutputToFile: FALSE
 outputFileName: "CURE_Clustered.csv"
 


##################################################
#
# Next files have only 2 variables along with the 
# true cluster each point belongs.
#
# The files mentioned in the next section were 
# downloaded from:
# https://github.com/Kchu/CURE-cluster-python
##################################################


# Configuration settings for file jain.csv
testdata/jain.csv:
 targetColumns:
  - "F1"
  - "F2"
 randomDataSampleSize: 90 
 nClusters: 2
 nRepresentatives: 5
 alpha: 0.0
 clusterMergeDistance: -1 
 internalClusterMetrics:
  - Silhouette
 externalClusterMetrics:
  - v_measure
  - Jaccard
  - Precision
  - Recall


# file aggregation.csv
testdata/aggregation.csv:
 randomDataSampleSize : 284 
 targetColumns:
  - "F1"
  - "F2" 
 nClusters: 7 
 nRepresentatives: 8
 alpha: 0.62
 clusterMergeDistance: 0.14
 internalClusterMetrics:
  - Silhouette
 externalClusterMetrics:
  - v_measure
  - Jaccard
  - Precision
  - Recall
 


testdata/R15.csv:
 chunkSize: 100
 nClusters: 15
 nRepresentatives: 10
 alpha: 0.9
 clusterMergeDistance: 0.0034
 internalClusterMetrics:
  - Silhouette
 externalClusterMetrics:
  - v_measure
  

testdata/3clus.csv:
 randomDataSampleSize: 284
 targetColumns:
  - "F1"
  - "F2"
 chunkSize: 90
 nClusters: 3
 nRepresentatives: 3
 alpha: 0.2
 clusterMergeDistance: 0.34
 internalClusterMetrics:
   - Silhouette
 externalClusterMetrics:
  - v_measure


######################################################
#
# Next datasets have more than 2 variables. Does NOT
# have the true cluster where each data point belongs
# to.
#
######################################################

testdata/syntheticDataN500x5.csv:
 # empty targetColumns array means all
 # columns 
 targetColumns: 
 chunkSize: 150
 nClusters: 5
 nRepresentatives: 8
 alpha: 0.2
 clusterMergeDistance: 0.0034
 internalClusterMetrics:
  - Silhouette
  - Calinski_Harabasz
  - Davies_Bouldin
 
 saveOutputToFile: FALSE
 outputFileName: "CURE_Clustered.csv"


testdata/syntheticData30000x6.csv:
 randomDataSampleSize: 1000
 # empty targetColumns array means all
 # columns 
 targetColumns:
 chunkSize: 350
 nClusters: 7
 nRepresentatives: 16
 alpha: 0.2
 clusterMergeDistance: 0.0034
 internalClusterMetrics:
  - Silhouette
  - Calinski_Harabasz
  - Davies_Bouldin
 saveOutputToFile: FALSE
 outputFileName: "Data30000x6_CURE_Clustered.csv"
